
body {
	--radius-s: 12px;
	--radius-m: 12px;
	--radius-l: 12px;
	--input-radius: 16px;
	--tab-radius-active: 8px;
	--checkbox-radius: 16px;
	--toggle-radius: 16px;
	--toggle-thumb-radius: 16px;
	--slider-thumb-radius: 16px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.theme-dark {

  --background-secondary: #001025;
  --background-primary: #001025;

  --text-muted:    rgb(93, 151, 185);
  --text-faint:     #D85;
  --text-normal:    rgb(127, 183, 110); 
  --text-selection: #166222;
  
  --list-marker-color:           #A93;
  --list-marker-color-collapsed: #633;   
  
  --list-bullet-radius: 8px;
  --list-bullet-size:   8px; 
}

.theme-light {
	
  --background-primary: #8daab6;
  --background-secondary: rgb(113, 179, 207);

  --text-normal: rgb(20, 22, 22);
  --text-faint: rgb(20, 22, 22);
  --text-muted: rgb(20, 22, 22);
  --text-selection: #d1ae12;
  
  --list-marker-color: #000;
  --list-bullet-radius: 6px;

  --list-bullet-size: 6px; 
  --list-marker-color-collapsed: #633;   
}
